.backgroundimage{
    position: relative;
    width: 100%;
    
}

.img{
    width: 100%;
    
}

body{
    margin: 0;
}

.header{
    position: absolute;
    width: 100%;
    height: 58px;
    /* background-color: black; */
    opacity: 1;
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header1{
    display: grid;
    grid-template-columns:  1fr 3rem 3rem 3rem 3rem 16rem;
    /* column-gap: 30px; */
    /* justify-content: space-evenly; */
    /* justify-items: space-around; */
    justify-content: space-between;
    padding-left: 78px;
    padding-right: 78px;
}

.a1{
    text-decoration: none;
    color: white;
   
}
.a1:hover{
    text-decoration: none;
    color: #01813F;
}

.a2:hover{
    text-decoration: none;
    color: #01813F;
}


.a2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.headertext1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.headertext2{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.content{
    width: 100%;
    position: absolute;
    top: 59px;
    height: calc(100% - 58px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 444px;
    height: 584px;
    background-color: white;
}

.greenbox{
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    /* position: absolute;
    top: 229px; */
    grid-area: a;
    margin-top: 7px;
}

.headcontent{
    display: grid;
    grid-template-columns: 61px 285px 1fr;
    height: 45px;
    margin: 0;
    grid-template-areas: "a b c";
    padding-top: 24px;
}

ul{
    padding: 0;
}

ol{
    padding: 0; 
}

.SignUp{
    /* top: 229px; */
    grid-area: b;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 20px;
   font-weight: 400;
}

.login{
    grid-area: c;
    /* top: 230px;
    position: absolute; */
}

.a3{
    text-decoration: none;
    color: #3CB878;

}

.a3:hover{
    color: #01813F;
    text-decoration:underline;
}

.button{
    display: grid;
    grid-template-columns: 240px 1fr;
    margin-top: 0px;
}

.button1{ 
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    border-radius: 4px;
    border-color: #305DB8;
    margin-left: 60px;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}


.button2{ 
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    margin-left: -14px;
    border-radius: 4px;
    border-color: #DF4A32;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.google{
    margin-left: 18px;
}

.button1:hover{
    background-color: #022263;
}

.button2:hover{
    background-color: #AB1F09;;
}

.or{
    margin-left: 62px;
    margin-top: 15px;
    margin-bottom: 0;
}

.OR{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #848484;
}
 
.Or{
    padding-bottom: 3px;
}

.line{
    padding-top: 2px;
}

.input{
    width: 322px;
    height: 44px;
    margin-left: 60px;
    margin-top: 15px;
   border-radius: 4px;
   border: 1px solid #F2F2F2;
   font-size: 14px;
   font-weight: 400;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus{
    box-shadow:
  0px 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0px 6.7px 5.3px rgba(0, 0, 0, 0.052),
  0px 12.5px 10px rgba(0, 0, 0, 0.066),
  0px 22.3px 17.9px rgba(0, 0, 0, 0.079),
  0px 41.8px 33.4px rgba(0, 0, 0, 0.091),
  0px 100px 80px rgba(0, 0, 0, 0.11)
; 
 
}

.checkbox{
    position: absolute;
    
    border-radius: 0;
     border: 1px solid #F2F2F2;
    width: 14px;
    height: 13.5px;
    margin-left: -330px;
    margin-top: 80px;
}

.submit{
    width: 322px;
    height: 44px;
    margin-left: 63px;
    margin-top: 40px;
   border-radius: 4px;
   border: 1px solid #F2F2F2;
   background-color: #3CB878;
   color: white;
   font-size: 16;
   font-weight: 400;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

   
}

.submit:hover{
    background-color: #01813F;
}

.a5{
    text-decoration: none;
    color: #3CB878;
}
.a5:hover{
    color: #01813F;
    text-decoration: underline;
}
.text10{
    position: absolute;
    margin-left: -310px;
    margin-top: 77px;
    font-size: 14px;
   font-weight: 400;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}